* {
	box-sizing: border-box;
	margin: 0;
	font-family: sans-serif;
}

nav {
	position: fixed;
	color: #fff;
	z-index: 2;
	padding: 1rem 6vw;
	mix-blend-mode: difference;
}

nav ul {
	display: flex;
	list-style: none;
	gap: 1rem;
	padding: 0;
}
nav ul a {
	color: inherit;
}

section {
	width: 100%;
	height: 100vh;
	padding: 6vw;
	position: sticky;
	top: 0;
}

.about {
	background: #ea4c47;
	color: #fff;
}

.work {

	border-radius: 2rem 2rem 0 0;
	top: 2rem;
	height: calc(100vh - 2rem);
	background: #f79e31;
}

.contact {
	border-radius: 2rem 2rem 0 0;
	top: 4rem;
	height: calc(100vh - 4rem);
	background: #f4dc55;
	
}

.scroll-container {
		overflow-x: scroll;
	max-width: 100%;
}

.horizontal {
	display: flex;
	width: max-content;
}

.horizontal section {
  width: 100vw;
	top: 6rem;
	left: 0;
	height: calc(100vh - 6rem);
}

.horizontal .work, .horizontal .contact {
	margin-left: -2rem;
}

.horizontal .about {
	border-radius: 2rem 0 0 0;
	background: #6ad44c;
}

.horizontal .work {
	left: 2rem;
	width: calc(100vw - 2rem);
	border-radius: 2rem 0 0 0;
	background: #628bee;
	
}

.horizontal .contact {
	left: 4rem;
	width: calc(100vw - 4rem);
	border-radius: 2rem 0 0 0;
	background: #935ee3;
}


h1 + p, h2 + p, h3 + p {
	margin-top: 1em;
}

p {
  max-width: 600px;
}

